<!DOCTYPE html>
<html>
<head>
    <title>My Express Application</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1>My Express Application</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, explicabo illum porro ullam ex deserunt optio obcaecati dolore quo reiciendis tenetur et harum architecto, ratione repellat at reprehenderit laudantium quidem!</p>

        <ul>
            <% items.forEach(function(item) { %>
                <li><%= item.value %></li>
            <% }); %>
        </ul>

        <form action="/add" method="post" class="form-inline">
            <div class="form-group">
                <input name="value" type="text" class="form-control">
                <input type="submit" value="Add" class="btn btn-default">
            </div>
        </form>
    </div>
</body>
</html>
