<!DOCTYPE html>
<html>
<head>
    <title>My Express/Passport Application</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1>Log in</h1>

        <form action="" method="post" class="form-inline">
            <div class="form-group">
                <input name="username" type="text" class="form-control">
                <input name="password" type="password" class="form-control">
                <input type="submit" value="Log in" class="btn btn-default">
            </div>
        </form>
    </div>
</body>
</html>
